* text=auto

*.py text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf

*.ps1 text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.faiss binary
*.safetensors binary
